
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #1F2937;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    padding:0;
    margin:0;
}

.header-logo{
    font-weight:700 ;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left-links{
    font-size: 18px;
    color: #E5E8EB;
    display: flex;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-right: 105px;
}

.intro{
    background-color: #1F2937;
    padding:0;
    margin:0;
    color: white;
    display: flex;
    justify-content: space-around;
}

.left-col{
    display: flex;
    flex-direction: column;
    display: flex;
    margin-left: 85px;
    flex-wrap: wrap;
    width: 450px;
}

.right-col{
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;

}

.welcome-mes{
    font-weight: bold;
    font-size: 48px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
}

.subtext{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
}

button.signup{
    background-color: #3882F6 ;
    color: white;
    padding: 15px;
    border-radius: 12%;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.main-text{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text-header{
    color: #1F2937;
    font-weight: bold;
    font-size: 36px;
}

.img-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 2px solid red;
}

.img-text-1 , .img-text-2 , .img-text-3, .img-text-4{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 200px;

}

.img-1 , .img-2, .img-3 ,.img-4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    border-radius: 20%;
}

.text-1 ,.text-2, .text-3, .text-4{
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    width: 190px;
    height: 90px;
    margin-left: 30px;
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    border: 2px solid blue;
}

.quote-text{
   font-size: 26px;
   font-style: italic;
   color: #1F2937;
   border: 2px solid red;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 50px 100px 0px 280px;
   width: 800px;
   font-weight:lighter;

}

.quote-author{
    border: 2px solid pink;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 100px 10px 280px;
    width: 800px;
    color: #1F2937;
    font-weight: bolder;
}


.call-to-action{
    background-color: #FFF;
    margin-top: 35px;
}

.call-to-action-container{
    border: 2px solid green;
    margin-top: 45px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    margin: 0px 290px 10px 290px;
    color: #FFF;
    border-radius: 9px;


}

.call-to-action-left{
    border: 3px solid brown;

}
.call-to-action-right{
    border: 3px solid black;
}

button.call-to-action{
    background-color: #3882F6;
    border-color: white;
    border-radius: 8px;
    padding: 10px 25px 10px 25px;
    display: flex;
    color: white;
    font-size: 15px;
    font-weight: 800;
}

.call-to-action-header{
    font-weight: 700;
    font-size: 20px;
}

